cffi==1.17.1
contourpy==1.3.2
cycler==0.12.1
fonttools==4.58.4
joblib==1.5.1
keyboard==0.13.5
kiwisolver==1.4.8
lxml==6.0.0
matplotlib==3.10.3
numpy==2.3.1
opencv-python==4.11.0.86
packaging==25.0
pandas==2.3.0
pillow==11.3.0
pycparser==2.22
pygit==0.1
pyparsing==3.2.3
PyQt6==6.9.1
PyQt6-Qt6==6.9.1
PyQt6_sip==13.10.2
pyqtgraph==0.13.7
python-dateutil==2.9.0.post0
pytransform3d==3.14.2
pytz==2025.2
quanser-api @ file:///C:/Program%20Files/Quanser/QUARC/python/quanser_api-2025.6.17-py2.py3-none-any.whl#sha256=2f1da8d62abd802439f354ecd901969e50f963a29f8e6bf21816a867d3ecc009
quanser-common==2025.6.17
quanser-communications==2025.6.17
quanser-devices==2025.6.17
quanser-hardware==2025.6.17
quanser-multimedia==2025.6.17
scikit-learn==1.7.0
scipy==1.16.0
six==1.17.0
threadpoolctl==3.6.0
tzdata==2025.2
